.header-light {
    --layouts-header-theme-icon-color: #f7eead;
}
.header-dark {
    --layouts-header-theme-icon-color: #87c0ca;
}

@iconSizeSmall: 26px;
@iconSizeNormal: 40px;

// 若 文章所有目录（左边的目录）存在
@media screen and (min-width: @showOnlyArticleMaxWidth) {
    .header .menuIcon {
        display: none;
        pointer-events: none;
    }
}

// 若仅仅显示文章
@media screen and (max-width: @showOnlyArticleMaxWidth) {
    // 多一个 .header 增加权重
    .header .menuIcon {
        font-size: @iconSizeSmall;
    }

    .header .themeIcon,
    .header .menuIcon,
    .header .logo {
        width: @iconSizeSmall;
        height: @iconSizeSmall;
    }
}

.header {
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: var(--global-primary-bg-color);
    backdrop-filter: blur(12px);
    height: var(--header-height);
}

.headerInfo {
    height: 100%;
    padding: 0 16px 0 16px;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.searchBox {
    width: 100%;
    max-width: 60rem;
    cursor: pointer;

    & input {
        cursor: pointer;
    }
}

.hideMenuIcon {
    display: none;
    pointer-events: none;
}

.left {
    align-items: center;
}

.menuIcon,
.logo,
.themeIcon {
    transition: @boxShadowTransition; // 反向过渡; 即: 结束到开始也触发过渡效果
    color: var(--layouts-header-theme-icon-color);
    cursor: pointer;
    border-radius: 50%;
    width: @iconSizeNormal;
    height: @iconSizeNormal;
    padding: 5px;

    &:hover {
        .boxShadowHover(@color: var(--global-box-shadow-hover-color));
    }
}

.logo {
    background-image: url('/assets/favicon.png');
    background-size: contain;
    background-repeat: no-repeat;
}
